/* Write your code here. */

.emojiListContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  height: 100vh;
  font-family: 'Roboto';
}

.emojiCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
